/* Hero */
.hero {
    margin: 0 0;
    display: flex;
    justify-content: space-evenly;
}

.heroImg {
    width: auto;
    height: 90vh;
    margin: 0 0;
    overflow: hidden;
}

.container {
    display: flex;
}

body {
    overflow-y: hidden;
}

.categoryContainer {
    width: 60vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Category container */
.categoryListContainer {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-bottom: 2em;
}

/* CTA */
.category {
    background-color: #333;
    font-family: inter-reg;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    border: #334;
    padding: 3em;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2vw;
}

.category:hover{
    scale: 1.01;
}

h1 {
    font-family: inter-reg ;
}
